[Unit]
Description=Keyboard Chattering Fix service

[Service]
ExecStart=cd <path/to/file> && sudo python3 -m src
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target